# python
*.egg-info
__pycache__
.coverage

# config and issues cache file
config/

# pycov report
cov_html

# osx / vim
.DS_Store
.undodir

# jira in docker
jira_data/

# mypy type linting
.mypy_cache
