-r requirements.txt
docker
ipdb
pylint
pytest
pytest-cov
pytest-mypy
pytest-sugar
pytest-xdist
pyfakefs
remote-pdb
types-click
types-dataclasses; python_version<='3.6'
types-python-dateutil
types-pytz
types-requests
types-tabulate
types-tzlocal
